
<div class="container">
    <div class="row">
  
      <div class="col-sm-3">
        <ul class="nav nav-tabs flex-column" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Informations personnelles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="photo-tab" data-toggle="tab" href="#photo" role="tab" aria-controls="photo" aria-selected="false">Photo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="preferences-tab" data-toggle="tab" href="#preferences" role="tab" aria-controls="preferences" aria-selected="false">Préférences</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="vehicule-tab" data-toggle="tab" href="#vehicule" role="tab" aria-controls="vehicule" aria-selected="false">Véhicule</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="rating-tab" data-toggle="tab" href="#rating" role="tab" aria-controls="rating" aria-selected="false">Rating</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="paiements-tab" data-toggle="tab" href="#paiements" role="tab" aria-controls="paiements" aria-selected="false">Paiements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="compte-tab" data-toggle="tab" href="#compte" role="tab" aria-controls="compte" aria-selected="false">Mon Compte</a>
            </li>
        </ul>
      </div>
  
      <div class="col-sm-9 tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="home-tab"> 
          <app-personal-data></app-personal-data>
        </div>

        <div class="tab-pane fade show" id="photo" role="tabpanel" aria-labelledby="photo-tab">
            <app-photo></app-photo> 
        </div>

        <div class="tab-pane fade show" id="preferences" role="tabpanel" aria-labelledby="preferences-tab">
            <app-preferences></app-preferences> 
        </div>

        <div class="tab-pane fade show " id="vehicule" role="tabpanel" aria-labelledby="vehicule-tab">
            <app-vehicle></app-vehicle> 
        </div>

        <div class="tab-pane fade show " id="rating" role="tabpanel" aria-labelledby="rating-tab">
            <app-rating></app-rating> 
        </div>

        <div class="tab-pane fade show " id="paiements" role="tabpanel" aria-labelledby="paiements-tab">
            <app-payments></app-payments> 
        </div>

        <div class="tab-pane fade show " id="compte" role="tabpanel" aria-labelledby="compte-tab">
            <app-account></app-account> 
        </div>

    </div>
  
    </div>
  </div>
  