<h3>Authentification</h3>

<div class="form-group">
  <label for="connectMail">Adresse mail : {{ connectMail }} </label>
  <input type="text" class="form-control" placeholder="Adresse mail" [(ngModel)]="connectMail">
  <label for="connectMdp">Mot de passe : {{ connectMdp }} </label>
  <input type="text" class="form-control" placeholder="Mot de passe" [(ngModel)]="connectMdp">
</div>

<button class="btn btn-success" *ngIf="!authStatus" (click)="onSignIn()">
  Se connecter
</button>
<button class="btn btn-success" *ngIf="!authStatus" (click)="onSignInAdmin()">
  Se connecter en tant qu'administrateur
</button>
<button class="btn btn-danger" *ngIf="authStatus" (click)="onSignOut()">
  Se déconnecter
</button>

<br>

<h5>Si vous n'êtes pas encore inscrit :</h5>
<button (click)="toInscr()">
  S'inscrire
</button>
