

<nav class="navbar navbar-expand-lg navbar-light bg-light">

      <a class="navbar-brand"  routerLink="/accueil" routerLinkActive="active"><img src="assets\ecp-logo.png" alt="logo"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/add-trajet" routerLinkActive="active">Proposer un trajet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/add-colis" routerLinkActive="active">Proposer un colis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/searchTrajConduct" routerLinkActive="active">Rechercher</a>
        </li>
        <!-- Seuls les admins peuvent le voir -->
        <li class="nav-item">
          <a class="nav-link" *ngIf=seeAdmin() routerLink="/admin" routerLinkActive="active">Page Administrateur</a>
        </li>
      </ul>
      <ul class="navbar-nav right">
        <li class="nav-item">
          <a class="nav-link" routerLink="/auth" routerLinkActive="active">Connexion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/inscrire" routerLinkActive="active">S'inscrire</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/profile" routerLinkActive="active">Profil</a>
            <a class="dropdown-item" routerLink="/mes-traj" routerLinkActive="active">Mes réservations</a>
            <a class="dropdown-item" routerLink="/messagerie" routerLinkActive="active">Messagerie</a>
            <a class="dropdown-item" routerLink="/payements" routerLinkActive="active">Payements</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
