
.colis {
  background-image: url("../../../assets/colis.jpg");
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin:0px;
}

.colis-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


@media only screen and (max-width: 900px) {
  /* for medium device style tablet */
  

  .colis {
    height: 45vh;
  }
}


@media only screen and (max-width: 576px) {
  /* For mobile phones: */
  .btn{
      background-color:transparent;
      font-size: 20px;
      width: 100px;
      border: none;
      right: 20px;
  }

  .colis {
    height: 30vh;
  }
}