<h3>Détail de la tournée</h3>

<table class = "table col-12">
  <thead>
    <tr>
      <th scope="col" *ngIf=seeAdmin()>Id</th>
      <th scope="col">Heure et date de départ</th>
      <th scope="col">Point de départ</th>
      <th scope="col">Heure et date d'arrivée</th>
      <th scope="col">Point d'arrivée</th>
      <th scope="col">Nom du passager</th>
      <th scope="col">Caractéristiques du colis</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td *ngIf=seeAdmin()>1</td>
      <td>08:00 23/10/19</td>
      <td>Ath</td>
      <td>08:15 23/10/19</td>
      <td>Jurbise</td>
      <td>Aurélien</td>
      <td> </td>
    </tr>
    <tr>
      <td *ngIf=seeAdmin()>2</td>
      <td>08:15 23/10/19</td>
      <td>Jurbise</td>
      <td>08:30 23/10/19</td>
      <td>Mons</td>
      <td> </td>
      <td>Bouteilles de vin</td>
    </tr>
  </tbody>
</table>

<button class="btn btn-success" *ngIf=!seeAdmin() routerLink="/mes-tourn" routerLinkActive="active">
  Retourner à la page Mes tournées
</button>
<button class="btn btn-success" *ngIf=seeAdmin() routerLink="/admin-list-traj" routerLinkActive="active">
  Retourner à la page Gestion des trajets
</button>
