
<div class="container">
    <div class="row">
  
      <div class="col-sm-3">
        <ul class="nav nav-tabs flex-column" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Informations personnelles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="photo-tab" data-toggle="tab" href="#photo" role="tab" aria-controls="photo" aria-selected="false">Photo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="preferences-tab" data-toggle="tab" href="#preferences" role="tab" aria-controls="preferences" aria-selected="false">Préférences</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="vehicule-tab" data-toggle="tab" href="#vehicule" role="tab" aria-controls="vehicule" aria-selected="false">Véhicule</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="rating-tab" data-toggle="tab" href="#rating" role="tab" aria-controls="rating" aria-selected="false">Rating</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="paiements-tab" data-toggle="tab" href="#paiements" role="tab" aria-controls="paiements" aria-selected="false">Paiements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="compte-tab" data-toggle="tab" href="#compte" role="tab" aria-controls="compte" aria-selected="false">Mon Compte</a>
            </li>
        </ul>
      </div>
  
      <div class="col-sm-9 tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="home-tab"> 
            <form>
                <div class="form-group">

                    <label>Nom</label>
                    <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Enter your name">

                    <label>Prénom</label>
                    <input type="text" class="form-control" id="firstname" aria-describedby="firstname" placeholder="Enter your first name">

                    <label>Sexe</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sexe" id="homme" value="homme">
                        <label class="form-check-label" for="homme" style="margin-right:3rem;">
                            Homme
                        </label>
                        <input class="form-check-input" type="radio" name="sexe" id="femme" value="femme">
                        <label class="form-check-label" for="femme">
                            Femme
                        </label>
                    </div>

                    <label>Email address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="Enter email">

                    <label>Numéro de téléphone</label>
                    <input type="tel" class="form-control" id="phone" aria-describedby="phone" name="phone" placeholder="Format: 0492456789" pattern="[0-9]{10}">
                    <small class="form-text text-muted">Format: 0123456789</small>
                    <label>Date de naissance</label> 
                    <input type="text" class="form-control" id="firstname" aria-describedby="firstname" placeholder="Enter your first name">

                </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <div class="tab-pane fade show" id="photo" role="tabpanel" aria-labelledby="photo-tab">
            <div class="col-md-6 offset-md-3">
                <h3>Choose File</h3>            
                <div class="form-group">
                    <input type="file" name="image" (change)="fileProgress($event)" />
                </div>
                <div *ngIf="fileUploadProgress">
                    Upload progress: {{ fileUploadProgress }}
                </div>
                <div class="image-preview mb-3" *ngIf="previewUrl">
                    <img [src]="previewUrl" height="300" />                 
                </div>
        
                <div class="mb-3" *ngIf="uploadedFilePath">
                    {{uploadedFilePath}}
                </div>
                    
                <div class="form-group">
                    <button class="btn btn-primary"  (click)="onSubmit()">Submit</button>
                </div>
            </div>
        </div>

        <div class="tab-pane fade show" id="preferences" role="tabpanel" aria-labelledby="preferences-tab">

            <label>les animaux sont autorisés</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="animaux" id="animauxOui" value="1">
                <label class="form-check-label" for="animauxOui" style="margin-right:3rem;">
                    oui
                </label>
                <input class="form-check-input" type="radio" name="animaux" id="animauxNon" value="0">
                <label class="form-check-label" for="animauxNon" style="margin-right:3rem;">
                    non
                </label>
                <input class="form-check-input" type="radio" name="animaux" id="animauxParfois" value="2">
                <label class="form-check-label" for="animauxParfois" >
                    En fonction de l'animal
                </label>
            </div>

            <label>J'accepte que l'on fume dans ma voiture:</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="fumeur" id="fumeurOui" value="oui">
                <label class="form-check-label" for="fumeurOui" style="margin-right:3rem;">
                    oui
                </label>
                <input class="form-check-input" type="radio" name="fumeur" id="fumeurNon" value="non">
                <label class="form-check-label" for="fumeurNon">
                    non
                </label>
            </div>

        </div>

        <div class="tab-pane fade show " id="vehicule" role="tabpanel" aria-labelledby="vehicule-tab">
            vehicule-tab
        </div>

        <div class="tab-pane fade show " id="rating" role="tabpanel" aria-labelledby="rating-tab">
            rating-tab
        </div>

        <div class="tab-pane fade show " id="paiements" role="tabpanel" aria-labelledby="paiements-tab">
            paiements-tab
        </div>

        <div class="tab-pane fade show " id="compte" role="tabpanel" aria-labelledby="compte-tab">
            compte-tab
        </div>

    </div>
  
    </div>
  </div>
  
  <!-- <div class="container">
    <div class="row">
      <ngb-accordion [closeOthers]="true" activeIds="static-1">
        <ngb-panel id="static-1" title="Simple">
          <ng-template ngbPanelContent>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
            aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
            labore sustainable VHS.
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-2">
          <ng-template ngbPanelTitle>
            <span>&#9733; <b>Fancy</b> title &#9733;</span>
          </ng-template>
          <ng-template ngbPanelContent>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
            aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
            labore sustainable VHS.
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-3" >
          <ng-template ngbPanelTitle>
            <span>&#9733; <b>Fancy</b> title &#9733;</span>
          </ng-template>
          <ng-template ngbPanelContent>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
            aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
            labore sustainable VHS.
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-4" >
          <ng-template ngbPanelTitle>
            <span>&#9733; <b>Fancy</b> title &#9733;</span>
          </ng-template>
          <ng-template ngbPanelContent>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
            aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
            labore sustainable VHS.
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-5">
          <ng-template ngbPanelTitle>
            <span>&#9733; <b>Fancy</b> title &#9733;</span>
          </ng-template>
          <ng-template ngbPanelContent>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
            aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
            labore sustainable VHS.
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-6">
          <ng-template ngbPanelContent>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
            aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
            labore sustainable VHS.
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
  
  
  
   -->
  
  