img
{
    width: 100%;
    height: auto;
    padding : 0px;
    margin: 0px;
}



.btn{
    
    width: 10vw;
    height: 8vh;
    font-size: 2vh;
    border-radius: 0.7vh;
    width: 10vw;
    height: 5vw;
    min-height: 3vh;
    font-size: 1.3vw;
    align-content: center;
  }

col {
   
    padding: 0px;
}

.conducteur-text {
    
    padding: 0px;
    padding-top: 5vw;
    text-align: center;
    
}

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
  
  }
  