<div class=" container ">
  <!-- <div class="row">
    <div class="col-sm-6 img">
        <img src="assets\conducteur.png" alt="conducteur" >
    </div>

    <div class="col-sm-6 conducteur-text">
      <h2>A votre tour de conduire!</h2>
        <button class="btn" routerLink="/searchTrajConduct" routerLinkActive="active">Rechercher des passagers
        </button>
    </div>
  
  </div> -->

  <div class="conduct">
      <div class="conduct-text">
          <h2>A votre tour de conduire!</h2>
        <button class="btn" routerLink="/searchTrajConduct" routerLinkActive="active">Rechercher des passagers
        </button>
      </div>
  </div>
</div>


    
