<h2>Ajouter un colis : </h2>

<h4>Nom : </h4>
<input type="text" class="form-control">
<h4>Départ : </h4>
<input type="text" class="form-control">
<h4>Destination : </h4>
<input type="text" class="form-control">
<h4>Heure et date : </h4>
<input type="date" class="form-control">
<h4>Poids : </h4>
<input type="number" class="form-control">
<h4>Volume : </h4>
<input type="number" class="form-control">
<h4>Description : </h4>
<input type="text" class="form-control">

<button class="btn btn-success" (click)="addCol()">
  Ajouter
</button>

<br>

<button  (click)="toAccueil()">
  Retourner à l'accueil
</button>
