<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
        <ul >
            <li class="center"><a routerLink="/aide" routerLinkActive="active">Besoin d'aide ?</a></li>
            <li class="center"><a routerLink="/description" routerLinkActive="active">Qui sommes-nous ?</a></li>
            <li class="center"><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
        </ul>
    </div>

    <div class="col-sm-4">
        <ul >
            <li class="center margintop"><span>Téléchargez l'application</span></li>
            <li class="center"><a routerLink="/accueil" routerLinkActive="active"><img class="minilogo" src="assets\mini_logo.png" alt="logo"></a></li>    
        </ul>
    </div>
        

    <div class="col-sm-3">
        <ul >
            <li class="center"><a href="https://www.facebook.com/"><img src="assets\facebook-logo.jpg" alt="facebook" ></a></li>
            <li class="center"><a href="https://www.instagram.com/"><img src="assets\Instagram-Logo.png" alt="instagram"></a></li>
        </ul>
    </div>
    <div class="col-sm-1"></div>
</div>

