<form>
    <div class="form-group">

        <label>Marque</label>
        <input type="text" class="form-control" id="marque" aria-describedby="marque" placeholder="Marque de votre véhicule">

        <label>Modèle</label>
        <input type="text" class="form-control" id="model" aria-describedby="model" placeholder="Modèle du véhicule">

        <label for="sel1">Nombre de sièges</label>
        <select class="form-control" id="places">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
        </select>

        <label>Volume approximatif du coffre en litres</label>
        <input type="number" class="form-control" id="volume" aria-describedby="volume" placeholder="entrez le volume en litres">
        
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>