<app-navbar-admin></app-navbar-admin>

<table class = "table col-12">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Heure et date de départ</th>
      <th scope="col">Point de départ</th>
      <th scope="col">Heure et date d'arrivée</th>
      <th scope="col">Point d'arrivée</th>
      <th scope="col">Nom du conducteur</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>08:00 23/10/19</td>
      <td>Ath</td>
      <td>08:30 23/10/19</td>
      <td>Mons</td>
      <td>Thomas</td>
      <td>
        <a routerLink="/info-traj" routerLinkActive="active"> <input type="button" value="Plus d'info" /></a>
        <a routerLink="/messagerie" routerLinkActive="active"> <input type="button" value="Ouvrir la messagerie" /></a>
      </td>
    </tr>
  </tbody>
</table>
