<label>les animaux sont autorisés</label>
<div class="form-check">
    <input class="form-check-input" type="radio" name="animaux" id="animauxOui" value="1">
    <label class="form-check-label" for="animauxOui" style="margin-right:3rem;">
        oui
    </label>
    <input class="form-check-input" type="radio" name="animaux" id="animauxNon" value="0">
    <label class="form-check-label" for="animauxNon" style="margin-right:3rem;">
        non
    </label>
    <input class="form-check-input" type="radio" name="animaux" id="animauxParfois" value="2">
    <label class="form-check-label" for="animauxParfois" >
        En fonction de l'animal
    </label>
</div>

<label>J'accepte que l'on fume dans ma voiture:</label>
<div class="form-check">
    <input class="form-check-input" type="radio" name="fumeur" id="fumeurOui" value="oui">
    <label class="form-check-label" for="fumeurOui" style="margin-right:3rem;">
        oui
    </label>
    <input class="form-check-input" type="radio" name="fumeur" id="fumeurNon" value="non">
    <label class="form-check-label" for="fumeurNon">
        non
    </label>
</div>