<br>
<div class="alert alert-dismissible alert-light">
  Entrez le trajet que vous souhaitez effectuer.
</div>
<br>
<form action="" method="get">
  <input type="text" name="startAdressName" id="startAdress" class="form-control" placeholder="Adresse de départ">
  <br>
  <input type="text" name="endAdressName" id="endAdress" class="form-control" placeholder="Adresse d'arrivée">
  <br>
  <button class="btn btn-primary">Valider</button>
</form>
<br>
<div id="altContainer" class="list-group">
<div class="list-grou-item">
  <a href="#" class="list-group-item list-group-item-action active"> Alternatives disponibles</a>
  <a *ngFor="let alt of alternative" href="#" class="list-group-item">{{alt.name}}
    <br>
    Distance : {{alt.distance}} km
    <br></a>
</div>
</div>
