<h3>Ajouter un colis : </h3>

<div class="form-group">
  <label for="nom">Nom : </label>
  <input type="text" class="form-control">
  <label for="depart">Départ : </label>
  <input type="text" class="form-control">
  <label for="destination">Destination : </label>
  <input type="text" class="form-control">
  <label for="heure">Heure et date : </label>
  <input type="date" class="form-control">
  <label for="poids">Poids : </label>
  <input type="number" class="form-control">
  <label for="volume">Volume : </label>
  <input type="number" class="form-control">
  <label for="descritpion">Description : </label>
  <textarea class="form-control" id="description" rows="3"></textarea>
</div>

<button class="btn btn-success" (click)="addCol()">
  Ajouter
</button>
